@charset "utf-8";

@import "./reset";
@import "./ani";
@import "./layout";

.sdk-w100 {
    width: 100%;
}
.sdk-full {
    width: 100%;
    height: 100%;
}
.sdk-ellips {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sdk-ellips2,
.sdk-ellips4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sdk-ellips4 {
    -webkit-line-clamp: 4;
}
.sdk-nowrap {
    white-space: nowrap;
}

.sdk-link {
    font-size: 14px;
    transition: all ease $time;
    cursor: pointer;
    & + .sdk-link {
        margin-left: 20px;
    }
    &.sdk-disabled {
        cursor: not-allowed;
    }
}
