@charset "utf-8";

@import "./reset";
@import "./ani";
@import "./layout";

.js-w100 {
    width: 100%;
}
.js-full {
    width: 100%;
    height: 100%;
}
.js-ellips {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.js-ellips2,
.js-ellips4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.js-ellips4 {
    -webkit-line-clamp: 4;
}
.js-nowrap {
    white-space: nowrap;
}

.js-link {
    font-size: 14px;
    transition: all ease $time;
    cursor: pointer;
    & + .js-link {
        margin-left: 20px;
    }
    &.js-disabled {
        cursor: not-allowed;
    }
}
