a {
    color: $theme;
}
.sdk-link {
    color: $theme;
}
.sdk-link:hover {
    color: rgba($theme, 0.9) !important;
}

.sdk-link.sdk-disabled,
.sdk-link.sdk-disabled:hover {
    color: #999 !important;
}